<h4 class="text-center">Login</h4>

<form class="form-group" [formGroup]="formControl">
  <div class="form-group">
    <input formControlName="userName" class="form-control" placeholder="User Name" autofocus>
    <small class="text-danger d-block mt-2" *ngIf="formControl.controls.userName.errors?.required">
      user name is required!
    </small>
  </div>
  <div class="form-group">
    <input formControlName="password" class="form-control" type="password" placeholder="Password">
    <small class="text-danger d-block mt-2" *ngIf="formControl.get('password').errors?.required">
      password is required!
    </small>
  </div>
  <button [disabled]="formControl.invalid" type="submit" class="btn btn-primary btn-block">Login</button>
</form>

<p>Not a user? <a>Register Now</a></p>
