<sf-search (onDados)="filter = $event" [value]="filter"></sf-search>

<sf-photos [photos]='photos| filterByDescription: filter'></sf-photos>

<sf-button-more (click)="load()" [hasMore]="hasMore"></sf-button-more>
