<div class="text-center" *ngIf="hasMore; else messageTemplate">
    <button class="btn btn-primary">Load More</button>
</div>

<ng-template #messageTemplate>
    <p class="text-center text-muted">
      No more Photos!
    </p>
</ng-template>
