<div class="text-center mt-3 mb-3">
    <form>
      <i aria-hidden="true" class="fa fa-search mr-2"></i>
      <input type="search"
             placeholder="Search ..."
             class=rounded
             autofocus
             (keyup)=" debounce.next($event.target.value)"
             [value]="value">
    </form>
</div>
