<p class="text-center text-muted" *ngIf="!photos.length">No photo</p>

<ol>
  <li *ngFor="let cols of rows" class="row no-gutters">
      <div *ngFor="let photo of cols" class="col-4" sfDarkenOnHover >
        <sf-card>
          <sf-photo
          [url]="photo.url"
          [description]="photo.description">
          </sf-photo>
            <div class="text-center">
              <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2"></i>{{photo.likes}}
              <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2 ml-2"></i>{{photo.comments}}
            </div>
        </sf-card>
      </div>
  </li>
</ol>

